<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TradingView Line Chart</title>
  <script src="https://unpkg.com/lightweight-charts@4.2.3/dist/lightweight-charts.standalone.production.js"></script>
  <script th:src="@{/js/newstocklinechart.js}"></script>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
  <h1>Stock Line Chart</h1>
  <!-- <div id="chart-container"></div> -->
  <ul id="stock-charts" class="stock-charts"></ul>
  
  
  
</body>

</html>