server:
   port: 8100

api:
  jph:
    domain: "query1.finance.yahoo.com"
    quote:
     # endpoint: "/quote"
      type: "/finance"
      version: "/v7"
      endpoint: "/quote"

database:
  postgres: "tryAPI"

spring.datasource:
  # driverClassName: "org.hibernate.dialect.PostgreSQLDialect"
  driverClassName: "org.postgresql.Driver"
  #url: "jdbc:postgresql://postgres:5432/${database.postgres}"
  #url: "jdbc:postgresql://postgres:5432/tryAPI"
  url: {DB_URL}
  #username: "postgres"
  #password: ""
  username: {DB_USERNAME}
  password: {DB_PASSWORD}
  hikari:
      connection-timeout: 20000       
      maximum-pool-size: 5
      initialization-fail-timeout: -5
  
spring.jpa:
  show-sql: true
  hibernate.ddl-auto: update #none  #update
  #database-platform: org.hibernate.dialect.PostgreSQLDialect
  properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

#spring.data.redis:
spring.data:
#spring:
  #cache:
  #  type: "redis" 
  redis:
    #host: redis
    url: {REDIS_URL}
    #port: 6379
    #database: 0
    #timeout: 60000
    #ssl:
    #  enabled: true